{% extends "base.html" %}
{% block title %} {{ profile.first_name}} {{ profile.last_name}} @{{ profile.username}}{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        {% include "includes/author_info.html" with profile=profile%}


        <div class="col-md-9">

            <!-- Пост -->

            {% include "includes/post_item.html" with add_comment=False post=post %}

            {% include 'includes/comments.html' with form=form items=comments %}
</main>
{% endblock %}